@import './images/avatar.css';
@import './images/thumbnails.css';
@import './blog-card.css';

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    gap: 10px;
}

#btn_subscribe {
    color: #FFF;
    background-color: #13AA52;
    height: 3rem;
}

.page-header {
    display: flex;
    background-color: #1D2931;
    height: 6rem;
    padding: 0.75rem 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}

.page-footer {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: footer;
    flex-shrink: 0;
    background-color: #1D2930;
    color: #FFF;
    padding: 0.75rem 5rem;
}

.page-footer span a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

.blog-title {
    color: #FFF;
    font-size: 3rem;
}

.blog-card {
    grid-area: main;
}

.blogs {
    margin: 2.5rem 5rem;
}

.linkedin {
    padding: 0rem 1rem;
}

a {
    color: white;
}
