.blog-content {
    color: #FFF;
    font-weight: lighter;
    padding: 5rem;
}

.blog-content > p {
    font-size: 16px;
    line-height: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}


@media screen and (max-width: 768px) {
    .blog-content {
        padding: 2.5rem;
    }
}