.blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0.75rem 5rem;
    background-color: #1D2931;
    color: #FFF;
}

.blog-header > h1 {
    color: #24AE5B;
    letter-spacing: 1.4px;
}

@media screen and (max-width: 768px) {
    
    .blog-header {
        padding: 0.75rem 2.5rem;
    }

    .blog-header > h1 {
        font-size: large;
    }

    .blog-header > h3 {
        font-size: small;
    }
}